---
import NavColumn from "../components/NavColumn.astro";
import { ClientRouter } from "astro:transitions";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | Nick Sullivan</title>
    <ClientRouter />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=optional"
      media="print"
      onload="this.media='all'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=optional"
      /></noscript
    >
    <slot name="head" />
  </head>
  <body>
    <div class="layout-base">
      <NavColumn transition:persist />
      <main class="content-outer">
        <div class="content-inner">
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>

<style>
  body {
    overflow: hidden;
  }
  .layout-base {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
  }
  .content-outer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px;
    height: 100vh;
  }
  .content-inner {
    overflow: auto;
  }
</style>
