---
import Header from "../components/Header.astro";
import NavColumn from "../components/NavColumn.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <Header pageTitle={pageTitle} />
  <body>
    <div class="layout-base">
      <NavColumn />
      <div class="content-outer">
        <div class="content-inner">
          <h1>{pageTitle}</h1>
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  /* Small screen */
  body {
    overflow: hidden;
  }
  .layout-base {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
  }
  .content-outer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
    overflow-y: auto;
    width: 100%;
  }
  .content-inner {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
  .footnotes {
    scroll-margin-top: 20px;
  }
  /* Big screen */
  @media screen and (min-width: 636px) {
    .layout-base {
      display: flex;
      flex-direction: row;
    }
  }
</style>
