---
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";
const { post } = Astro.props;
---

<BaseLayout pageTitle={post.data.title}>
  <p class="date">
    <i class="fa-regular fa-calendar"></i>
    <FormattedDate date={new Date(post.data.date)} />
  </p>
  <p class="description"><em>{post.data.description}</em></p>
  <slot />
  <div class="footer"></div>
</BaseLayout>

<style>
  .date {
    margin-top: 0;
    margin-bottom: 0;
  }
  .description {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer {
    height: 50px;
  }
</style>
