---
import "../styles/global.css";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogLink from "../components/BlogLink.astro";

const posts = await getCollection("blog", ({ data }) => {
  return data.published === true;
});
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>A collection of ramblings.</p>
  <ul>
    {
      posts.map((post) => (
        <BlogLink
          url={`/blog/${post.id}`}
          title={post.data.title}
          date={post.data.date}
        />
      ))
    }
  </ul>
</BaseLayout>
