---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Hello! I live in Adelaide, South Australia. The best way to contact me is to
    send me an email or a LinkedIn message.
  </p>
  <ul>
    <li>
      <a href="mailto:nick.dave.sullivan@gmail.com/">
        <i class="fa-solid fa-envelope"></i> Email
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/nick-dave-sullivan/">
        <i class="fa-brands fa-linkedin"></i> LinkedIn
      </a>
    </li>
    <li>
      <a href="https://www.github.com/Nick-Sullivan/">
        <i class="fa-brands fa-github"></i> GitHub
      </a>
    </li>
    <li>
      <a href="/pdf/resume.pdf" download="nick-sullivan">
        <i class="fa-solid fa-file"></i> Resume
      </a>
    </li>
  </ul>
  <h3>Testimonials</h3>
  <p>
    I've had the pleasure of working with Nick over the past 9 months, and he has been an exceptional addition to our software team. Nick brings a combination of calm confidence, technical prowess, and fun that sets him apart as a truly outstanding engineer.
    Coming from a different technology stack, Nick quickly adapted to our Python and React ecosystem with remarkable speed and proficiency. His technical agility is matched by his problem-solving skills – Nick is a persistent debugger who meticulously investigates challenges, demonstrating both deep technical research and the wisdom to seek help from others when needed.
    Nick excels in team communication, consistently ensuring shared understanding through clear diagrams and proactively scheduling discussions to align on project approaches. His code reviews are thorough and constructive, providing great feedback. He also introduced end-to-end testing to our CI process, significantly improving our development workflow.
    What sets Nick apart is his commitment to simplicity in coding, his willingness to help colleagues, and his ability to maintain a positive, solution-oriented approach. He would be an incredible asset to any software team.
    I cannot recommend Nick highly enough.

    - Bob Renwick, Head of Software at Bactobio
  </p>
  <iframe src="/pdf/resume.pdf#toolbar=0" width="100%" height="440px"></iframe>
</BaseLayout>

<style>
  li {
    padding-bottom: 10px;
  }
  a {
    margin-left: 10px;
  }
</style>
