---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import headshot from "../assets/images/headshot.jpg";
import image00 from "../assets/images/index06.png";
import image01 from "../assets/images/cocktail_bar01.png";
import image02 from "../assets/images/gif_code01.gif";
import image03 from "../assets/images/phd03.png";
import image04 from "../assets/images/index00.jpg";
import image05 from "../assets/images/index05.jpg";
import image06 from "../assets/images/drinking_game03.png";
import image07 from "../assets/images/index02.jpg";
import image08 from "../assets/images/autonomous_challenge02.jpg";
import ImageGallery from "../components/ImageGallery.astro";

const images = [
  { src: headshot, alt: "My headshot.", height: 220, fetchPriority: "high" },
  {
    src: image02,
    alt: "A GIF QR code hobby project.",
    height: 220,
    fetchPriority: "high",
  },
  { src: image00, alt: "Some of the team at Tiimely.", height: 220 },
  { src: image01, alt: "A drink app hobby project.", height: 220 },
  {
    src: image03,
    alt: "Autonomous ground vehicles from my Ph.D.",
    height: 220,
  },
  {
    src: image04,
    alt: "A mining truck as part of my work at MaxMine.",
    height: 220,
  },
  { src: image05, alt: "Me on vacation.", height: 220 },
  { src: image06, alt: "A drinking game hobby project.", height: 220 },
  {
    src: image07,
    alt: "Some autonomous vehicles as part of my Ph.D.",
    height: 220,
  },
  {
    src: image08,
    alt: "A hobby entry in an autonomous ground vehicle competition.",
    height: 220,
  },
];

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Welcome! I'm Nick Sullivan, fullstack software engineer, Ph.D. I specialise
    in scaling small companies that make the world a better place.
  </p>
  <p>
    This website is a collection of my research, experiments, and side projects.
    Enjoy!
  </p>
  <ImageGallery images={images} />
</BaseLayout>
