---
import FormattedDate from "../components/FormattedDate.astro";
const { url, title, date } = Astro.props;
---

<li>
  <FormattedDate date={date} />
  <a href={url}>{title}</a>
</li>

<style>
  li {
    padding-bottom: 10px;
  }
  a {
    margin-left: 10px;
  }
</style>
