---
import { Image } from "astro:assets";
import type { ImageItem } from "../types/types";

const { images = [] }: { images?: ImageItem[] } = Astro.props;

function getDimensions(image: ImageItem): { width: number; height: number } {
  const { src: meta, width, height } = image;
  if (width && height) return { width, height };
  if (width)
    return { width, height: Math.round((meta.height * width) / meta.width) };
  if (height)
    return { width: Math.round((meta.width * height) / meta.height), height };
  return { width: meta.width, height: meta.height };
}
---

<div class="image-gallery">
  {
    images.map((image) => (
      <Image
        src={image.src}
        alt={image.alt}
        {...getDimensions(image)}
        loading="eager"
        class={image.className}
      />
    ))
  }
</div>
