---
const links = [
  { href: "/", text: "Home" },
  { href: "/blog", text: "Blog" },
  { href: "/projects", text: "Projects" },
  { href: "/contact", text: "Contact" },
];
---

<div class="nav-column" id="nav-column">
  <div class="nav-header">
    <button id="toggle-button">
      <i class="fa-solid fa-bars" id="expand-icon"></i>
    </button>
    <p class="nav-name">Nick Sullivan</p>
  </div>
  <nav>
    <ul>
      {
        links.map((link) => (
          <li>
            <a href={link.href}>{link.text}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>

<script>
  const toggleButton = document.getElementById("toggle-button");
  const navColumn = document.getElementById("nav-column");
  if (toggleButton && navColumn) {
    toggleButton.addEventListener("click", function () {
      navColumn.classList.toggle("retracted");
    });
  }
</script>

<style>
  .nav-column {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    transition: width 0.2s ease;
    overflow: hidden;
  }
  .nav-column.retracted {
    width: 60px;
  }
  /* Header */
  .nav-header {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ddd;
  }
  .nav-name {
    flex: 1;
    font-size: large;
    text-align: center;
    white-space: nowrap;
    margin: 0;
  }
  .nav-column.retracted .nav-name {
    display: none;
    transform: translateX(-100%);
    transition:
      opaticy 0.2s ease,
      transform 0.2s ease;
  }
  .nav-column.expanded .nav-name {
    display: block;
    transform: translateX(0);
  }
  #toggle-button {
    border: none;
    outline: none;
    background: none;
    font-size: medium;
  }
  #toggle-button:hover i {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* Navigation */
  .nav-column ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  .nav-column.retracted ul {
    display: none;
  }
  .nav-column li {
    width: 100%;
  }
  nav a {
    color: #7253ef;
    display: flex;
    text-align: left;
    width: 100%;
    border: none;
    background: none;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  nav a:hover {
    background: linear-gradient(to right, #f4f4f4, #dcdcdc);
    text-decoration: none;
  }
</style>
