/* .screenshot {
    height: 350px;
    width: auto;
    transition: transform .2s;
} */

.gallery {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px; */
    overflow: auto;
    white-space: nowrap;
}

.gallery img {
    /* margin: 10px; */
    /* cursor: pointer; */
    width: auto;
    height: 350px;
    border-radius: 10px;
}
